%h1.title
  %b Who
  we are?
.entry
  .image-style2
    %span
      %img{:alt => "", :height => "145", :src => "images/homepage_18.jpg", :width => "145"}/
    .thumbnails
  %p
    %strong mybrewdiary
    is a site to bring together homebrewers to chat in the future but for right now, to store their brewing temperature and specific gravity readings.  Later we will implement the sharing feature to make your data public or share with limited people.  Also some inteligent features that will tell you when your beer will finish primary fermentation based on your readings, and even email you when we think its done.
  %p
    you can contact us on twitter 
    = link_to "@mybrewdiary", "http://twitter.com/mybrewdiary"
  %p We always like to hear what we are doing right, but occasionally we need to be told what we are doing wrong too!  Help us make this site better for you to use, let us know what you think.


- content_for :sidebar do
  = render :partial => "shared/sidebar"
s