%h1.title
  %b Veroeros
  ipsum dolor sed integer
.entry
  .image-style2
    %span
      %img{:alt => "", :height => "145", :src => "images/homepage_18.jpg", :width => "145"}/
    .thumbnails
  %p
    %strong Ipsum lorem et consequat nunc
    integer condimentum sed dignissim vehicula. Class aptent sociosqu ad litora torquent per conubia feugiat gravida. Aliquam sed turpis purus, eu convallis massa. Proin et quam, feugiat et fringilla malesuada diam. Nullam molestie ipsum eget tellus blandit vel mollis et felis eleifend. Fusce nisl augue veroeros. Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl.
  %p Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac mauris. Proin eu wisi suscipit nulla suscipit interdum. Aenean lectus lorem, imperdiet at, ultrices eget, ornare et, wisi. Pellentesque adipiscing purus ac magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac mauris.
  %p Pellentesque adipiscing purus ac magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Sed ac leo. Pellentesque imperdiet.


- content_for :sidebar do
  = render :partial => "shared/sidebar"
s