#sidebar
  .box-style3
    = render :partial => "shared/blog"

  .box-style4
    %h2.title
      %b Other Homebrew
      sites
    .entry
      %ul.list3
        %li
          = link_to "Jim's Beer Kit", "http://www.jimsbeerkit.co.uk/forum/index.php"
