#sidebar
  .box-style3
    = render :partial => "shared/blog"

  .box-style4
    %h2.title
      %b Tempus
      sed volutpat
    .entry
      %ul.list3
        %li
          %a{:href => "#"} Maecenas luctus lectus at sapien
        %li
          %a{:href => "#"} Etiam rhoncus volutpat erat
        %li
          %a{:href => "#"} Donec dictum metus in sapien
        %li
          %a{:href => "#"} Integer gravida nibh quis urna
        %li
          %a{:href => "#"} Etiam posuere augue sit amet nisl
        %li
          %a{:href => "#"} Mauris vulputate dolor sit amet nibh
        %li
          %a{:href => "#"} Nulla luctus eleifend purus
        %li
          %a{:href => "#"} Praesent scelerisque scelerisque erat
